<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">

    <div class="row">
      <div class="col s6">
        <img src="/images/burger.jpg" width="400px" height="400px" id="pic_burger">
        <h2>Burgers You Can Eat!</h2>
        <ul>
          {{#each burgers}}
          {{#unless this.devoured}}
          <br>
          <div>
            <li>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class=' btn btn-warning burgerAvailable'> {{this.id}}. {{this.burger_name}}
                  (Click To Eat Me)</button>
              </form>
            </li>
          </div>
          {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div class="col s6">
        <img src="/images/eatenburger.jpg" width="400px" height="400px" id="pic_burger">
        <h2>Burgers Already Ate!</h2>
        <ul>
          {{#each burgers}}
          {{#if this.devoured}}
          <div class='burgerEaten'>
            <div>
              <li>
                {{this.id}}. {{this.burger_name}}
              </li>
            </div>
          </div>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</main>
<br>
<div class="container">
  <h2>Add A Burger</h2>

  <div class="row">
    <div class="col s12">
      <form action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Whats the burger?">
        <button type="submit" class="addBurgerButton btn btn-primary">Add The Burger</button>
      </form>
    </div>
  </div>
</div>